<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/LandingPage.css">
    <link rel="stylesheet" href="./css/dashboard.css">

</head>
<body>
    {% if toast %}
    <div class="toast {{toast.type}}" >
      {{toast.message}}
    </div>
    <script>
      setTimeout(() => {
        const toast = document.querySelector('.toast');
        if(toast) toast.remove();
      }, 3000);
    </script>
    {% endif %}

    <h1>{{user.name}}</h1>
    {% include 'footer.twig' %}
</body>
</html>